body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //background-color: #00BFFF;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
br{
  margin-top: 10px;
}
img{
  max-width: 100%;
}

.text-center{
  text-align: center;
}

.no-float{
  float: none;
}
.inline-block{
  float none;
  display: inline-block;
  margin-right: -4px;
}

.pacifico{
  font-family: 'pacifico', cursive;
}

.right-space{
  margin-right: 1em;
}

.no-list {
  list-style-type: none;
}
.mediano {
  font-size: 1.5em;
}
.color-gris{
  background-color: #B5B5B5;
}

.large-padding{
  padding: 10px 15px;
}
.navbar{
  margin-top: -50px;
  background-color: #B5B5B5;
}
.navbar-default{
  background-color: #B5B5B5;
}
