extends ../layout.jade
block contenido
  h2(class="pacifico") Menú
  p Los mejores cáctus del país
  each product in products
    div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
      h3(class="pacifio")= product.title
      img(src="#{product.imageUrl}" class="col-xs-7 col-md-4 no-float")
      p(style="margin-top:1em;") #[small(class="lato small") #{product.price}Euros]
