extends ../layout.jade
block contenido
  div(class="col-md-5 center-block no-float")
    h1 Agregar producto
    //El enctype es para poder subir fotos desde el formulario
    form(method="post" action="/menu" style="margin-top:1.5em;" enctype="multipart/form-data")
      div(class="form-group")
        label Nombre
        input(type="text" name="title" placeholder="Nombre del producto" class="form-control")
      div(class="form-group")
        label Descripcion
        input(type="description" name="description" placeholder="Descripcion del producto" class="form-control")
      div(class="form-group")
        label Precio
        input(type="number" name="price" placeholder="Precio del producto" class="form-control")
      div(class="form-group")
        label Imagen del producto
        input(type="file" name="imagen")
      div(class="form-group")
        label Contraseña
        input(type="password" name="password" placeholder="Contraseña" class="form-control")
      div(class="form-group text-right")
        input(type="submit" class="btn btn-info" value="Guardar")
      
      
