extend ./layout.jade
  block contentido
        h1 ¡Comenzamos el TFG!
      form.col-xs-10.col-sm-4.col-md-4.col-md-offset-4.formulario(role='form')
        div
          // <label class="">Email</label>
          br
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-envelope
            input.form-control(type='email', placeholder='Introduce tu email')
          br
          // <label class="">Contraseña</label>
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-lock
            input.form-control(type='password', placeholder='Introduce tu contraseña')
          br
          button.btn.btn-default(type='submit', onclick='alerta();') Enviar
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
