doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Proyecto
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
  body(class="container")
    section(class="full-height")
      div(class="data")
        div(class="col-md-3 center-block no-float top-space")
          img(src="/img/portada.jpg" class="")
          h1(class="pacifico text-center") Tienda de Cactus Física 
          div(class="text-center")
            nav(class="large-padding")
              a(class="right-space") Inicio
              a(class="right-space") Menú
              a(class="right-space") Acerca de
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
